p {
    font-family: serif;
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

/*- Title ------------------------*/
.add-quote-header-container {
    float: right;
}

/*- Modals -----------------------*/
.modal-btn-bar {
    float: right;
    margin-top: 10px;
}

/*- Quote ------------------------*/
article.quote {
}

hr.quote {
    width: 50%;
    height: 1px;
    border-bottom: 1px solid #eee;
    margin: 80px auto;
}

h2 {
    font-size: 150%;
    color: #aaa;
}

.quote-menu {
    float: right;
}

.quote-menu a.quote-menu-button {
    color: #ccc;
    display: inline-block;
    padding: 0 5px;
}

.quote-menu:hover a.quote-menu-button {
    color: #999;
}

/*- Pagination -------------------*/
.pagination .active a {
    background-color: #eee;
    border-color: #eee;
    color: black;
}
