{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Quotes</h1>
  </div>
  <form action="." class="form" id="quote-form" method="post">
    <textarea class="form-control" id="content" name="content"></textarea>
    <button class="btn btn-primary" type="submit">
      <span class="glyphicon glyphicon-plus"></span> Add Quote
    </button>
  </form>
  <ul class="list-unstyled quotes">
    {% for quote in quotes %}
      {% include "quote.html" %}
    {% endfor %}
  </ul>
{% endblock %}
