{% from "quote-editor.html" import quote_editor %}
{% extends "base.html" %}

{% block content %}
  <div class="page-header">
      <div class="add-quote-header-container">
        <a href="#add-quote-modal" id="add-quote-header-btn" class="btn btn-primary btn-sm add-quote-header-btn" data-toggle="modal">{{ _('Add Quote') }}</a>
      </div>
      <h1>{{ _('Quotes') }}</h1>
  </div>

  {{ quote_editor(modal_id='add-quote-modal') }}

  <ul class="list-unstyled quotes">
    {% for quote in quotes %}
      <li class="col-12">
        {% if not loop.first %}
          <hr class="quote">
        {% endif %}
        {% include "quote-snippet.html" %}
      </li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {% for p in range(page_count) %}
    <li class="{{ 'active' if p == page }}"><a href="{{ url_for('homepage', page=p) }}">{{ p + 1 }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
