{% extends "base.html" %}
{% block content %}
  <div class="page-header">
      <div class="add-quote-header-container">
        <a href="#add-quote-modal" id="add-quote-header-btn" class="btn btn-primary btn-sm add-quote-header-btn" data-toggle="modal">{{ _('Add Quote') }}</a>
      </div>
      <h1>{{ _('Quotes') }}</h1>
  </div>

  {# add-quote-modal #}
  <div class="modal fade" id="add-quote-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ _('Add a Quote') }}</h4>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('add') }}" class="form" method="post">
            <textarea class="form-control" id="content" name="content" rows="4"></textarea>
            <button class="btn btn-primary add-quote-btn" type="submit">
              {{ _('Add Quote') }}
            </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {# /add-quote-modal #}

  <ul class="list-unstyled quotes">
    {% for quote in quotes %}
      <li class="col-12">
        {% if not loop.first %}
          <hr class="quote">
        {% endif %}
        {% include "quote-snippet.html" %}
      </li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {% for p in range(page_count) %}
    <li class="{{ 'active' if p == page }}"><a href="{{ url_for('homepage', page=p) }}">{{ p + 1 }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
