{% from "modal.html" import modal, cancel_button %}

{# Create a modal to edit a quote #}
{% macro quote_editor(modal_id, quote_id=None, quote_text=None, next=None) -%}
  {% call modal(modal_id, _('Edit a Quote') if quote_id else _('Add a Quote')) %}
    <form action="{{ url_for('edit' if quote_id else 'add') }}" class="form" method="post">
      {% if quote_id %}
        <input type="hidden" name="quote_id" value="{{ quote_id }}"/>
      {% endif %}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
      {% endif %}
      <textarea class="form-control" id="content" name="content" rows="4">{% if quote_text %}{{ quote_text }}{% endif %}</textarea>
      <div class="modal-btn-bar">
        <button class="btn btn-primary" type="submit">
          {{ _('Save') if quote_id else _('Add Quote') }}
        </button>
        {{ cancel_button() }}
      </div>
      <div class="clearfix"></div>
    </form>
  {% endcall %}
{%- endmacro %}

{# Render a quote #}
{% macro quote_view(quote, is_permalink=False) %}
  <article class="quote">
    <div class="dropdown quote-menu">
      <a id="quote-dropdown-{{ quote.id }}" href="#" class="quote-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-chevron-down"></span></a>
      <ul class="dropdown-menu" aria-labelledby="quote-dropdown-{{ quote.id }}">
        <li>
          <a href="{{ url_for('quote', quote_id=quote.id) }}" title="">
            <span class="glyphicon glyphicon-link"></span> {{ _('Permalink') }}</a>
        </li>
        <li>
          <a href="#edit-quote-modal-{{ quote.id }}" data-toggle="modal">
            <span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#delete-quote-modal-{{ quote.id }}" data-toggle="modal">
            <span class="glyphicon glyphicon-trash"></span> {{ _('Delete') }}</a>
        </li>
      </ul>
    </div>
    <h2>{{ quote.date|format_date }}</h2>
    <p class="quote-text">
      {{ quote.html() }}
    </p>
    {{ quote_editor(modal_id='edit-quote-modal-{}'.format(quote.id),
                    quote_id=quote.id, quote_text=quote.content,
                    next=request.url) }}

    {% call modal(modal_id='delete-quote-modal-{}'.format(quote.id),
                  title=_('Delete Quote')) %}
      <p>{{ _('Are you sure you want to delete this quote?') }}</p>
      <div class="modal-btn-bar">
        <form action="{{ url_for('remove') }}" method="post">
          <input type="hidden" name="quote_id" value="{{ quote.id }}"/>

          {# If we delete from a permalink, redirect to the homepage: the permalink page does not exist anymore #}
          <input type="hidden" name="next" value="{{ url_for('homepage') if is_permalink else request.url }}"/>

          <button class="btn btn-danger" type="submit">{{ _('Delete') }}</button>
          {{ cancel_button() }}
        </form>
      </div>
      <div class="clearfix"></div>
    {% endcall %}
  </article>
{% endmacro %}
