<article class="quote" data-id="{{ quote.id }}">
  <h2>{{ quote.date|format_date }}
    <span class="toolbar">
      <a href="#edit-quote-modal-{{ quote.id }}" data-toggle="modal" title="{{ _('Edit') }}">
        <span class="glyphicon glyphicon-edit"></span></a>
      <a href="{{ url_for('quote', quote_id=quote.id) }}" title="{{ _('Permalink') }}">
        <span class="glyphicon glyphicon-link"></span></a>
    </span>
  </h2>
  <p class="quote-text">
    {{ quote.html() }}
  </p>
  {{ quote_editor.quote_editor(modal_id='edit-quote-modal-{}'.format(quote.id),
                               quote_id=quote.id, quote_text=quote.content,
                               next=url_for('homepage', page=page)) }}
</article>
